<section class="news-section">

  <div class="articles-list">

    @for (
      article of articles;
      track article.id
    ) {

      <button
        type="button"
        class="article-item"
        (click)="openArticle(article)"
      >

        <!-- IMAGE -->

        <img
          class="article-image"
          [src]="
            article.image ||
            article.image_url
          "
          [alt]="article.title"
          loading="lazy"
        />


        <!-- CONTENT -->

        <div class="article-content">

          <h3>
            {{ article.title }}
          </h3>


          <div class="article-details">

            <!-- META -->

            <div class="article-meta">

              <span>
                {{ article.time | momentAgo }}
              </span>

              <span
                class="meta-divider"
              ></span>


              <!-- CATEGORY -->

              <span
                class="article-category"
                [style.color]="
                  article.category_color
                "
              >
                {{ article.category }}
              </span>

            </div>


            <!-- ENGAGEMENT -->

            <div class="article-engagement">

              <span
                class="engagement-item"
              >

                <i
                  class="bi bi-heart"
                ></i>

                {{
                  formatCount(
                    article.likes
                  )
                }}

              </span>


              <span
                class="engagement-item"
              >

                <i
                  class="bi bi-chat"
                ></i>

                {{
                  formatCount(
                    article.comments
                  )
                }}

              </span>

            </div>

          </div>

        </div>


        <i
          class="
            bi
            bi-chevron-right
            article-arrow
          "
        ></i>

      </button>

    } @empty {

      <div class="empty-state">

        <i class="bi bi-newspaper"></i>

        <p>
          No news is available
          in this category.
        </p>

      </div>

    }

  </div>

</section>
