

<nav
  class="categories-nav"
  aria-label="News categories"
>

<header class="container section-header">
  <div class="section-heading">
    <span class="section-heading__icon">
      <i
        class="bi bi-newspaper"
        aria-hidden="true"
      ></i>
    </span>

    <div>


      <h5 class="section-title">
        Daily Posts
      </h5>
    </div>
  </div>

  <span class="section-eyebrow">
    Engage and earn.
  </span>
  <!-- <a
    class="view-all"
    routerLink="/articles"
  >
    View all
    <i class="bi bi-chevron-right"></i>
  </a> -->
</header>

  <div class="categories-scroll">
    @for (category of categories; track category.key) {
      <button
        type="button"
        class="category-button"
        [class.active]="activeCategory === category.key"
        [attr.aria-pressed]="activeCategory === category.key"
        (click)="selectCategory(category.key)"
        *ngIf="category.key"
      >
        <i
          class="bi"
          [ngClass]="category.icon"
        ></i>

        <span>{{ category.label | titlecase}}</span>
      </button>
    }
  </div>
</nav>

<div class="news-categories-list">
  @for (
    section of filteredNewsSections;
    track section.key;
    let index = $index
  ) {
    <app-news-list
      [section]="section"
    ></app-news-list>

  }
</div>

<div
  class="pagination-container"
  *ngIf="pagination?.total_pages > 1"
>

  <!-- PREVIOUS -->
  <button
    type="button"
    class="pagination-btn"
    [disabled]="
      !pagination?.previous ||
      loadingMore()
    "
    (click)="loadPage('previous')"
  >
    @if (
      loadingMore() &&
      loadingDirection() === 'previous'
    ) {
      <span class="loading-spinner"></span>
    } @else {
      <i class="bi bi-chevron-left"></i>
      <span>Previous</span>
    }
  </button>


  <!-- PAGE INFO -->
  <div class="page-info">
    <span>Page</span>

    <strong>
      {{ pagination?.current_page }}
    </strong>

    <span>
      of {{ pagination?.total_pages }}
    </span>
  </div>


  <!-- NEXT -->
  <button
    type="button"
    class="pagination-btn pagination-btn--next"
    [disabled]="
      !pagination?.next ||
      loadingMore()
    "
    (click)="loadPage('next')"
  >
    @if (
      loadingMore() &&
      loadingDirection() === 'next'
    ) {
      <span class="loading-spinner"></span>
    } @else {
      <span>Next</span>
      <i class="bi bi-chevron-right"></i>
    }
  </button>

</div>
